
<div class="container">
    <button [ngClass]="{'selected': tab==0}" (click)="tab=0">POSTS</button>
    <button [ngClass]="{'selected': tab==1}" (click)="tab=1">PHOTOS</button>
    <button  [ngClass]="{'selected': tab==2}" (click)="tab=2">USERS</button>
    <div *ngIf="tab==0">
        <div class="bordered container flex-between">
            <div>
                <label for="title">Title </label>
                <input type="text" id="title" [(ngModel)]="title">
            </div>
            <div>
                <label for="body">Body </label>
                <input type="text" id="body" [(ngModel)]="body">
            </div>
            <div>
                <label for="userId">User ID </label>
                <input type="text" id="userId" [(ngModel)]="userId">
            </div>
            <button class="button-action" (click)="onPostSaved()">Save</button>
        </div>
        <div *ngIf="search" class="container bordered">
            <p>ID: {{result.id}}</p>
            <p>Title: {{result.title}}</p>
            <p>Body: {{result.body}}</p>
            <p>User ID: {{result.userId}}</p>        
            <button class="button-action" (click)="onTitleChanged(result)">Edit only title</button> 
            <button class="button-action" (click)="onPostUpdated(result)">Edit whole post</button>            
        </div>
        <ul>
            <li *ngFor="let post of posts; let i = index;" class="flex-between">
                <div>
                    <span>Title: </span> {{post.title}} 
                </div>
                <div>
                    <button class="button-action" (click)="onPostClicked(i)">See more</button> 
                    <button class="button-action" (click)="onPostDelete(i)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="tab==1">
        <ul>
            <li *ngFor="let photo of photos; let i = index;">
                <p>
                    <span>Title: </span> {{photo.title}}
                </p>
                <p>
                    <span>URL: </span> {{photo.url}}
                </p>
            </li>
        </ul>
    </div>
    <div *ngIf="tab==2">
        <ul>
            <li *ngFor="let user of users; let i = index;">
                <p>
                    <span>Name: </span> {{user.name}}
                </p>
                <p>
                    <span>Email: </span> {{user.email}}
                </p>
            </li>
        </ul>
    </div>
</div>